*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 400px;
  border: 1px solid black;
  margin: 10vh auto 0 auto ;
}
#display {
  text-align: right;
  border: 1px solid black;
  border-radius: 1px solid grey;
  height: 70px; 
  font-size: 25px;
}
.buttons {
  margin-top: 10px;
  display: grid;

  /*border-left: 2px solid green;*/
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 400px;
  text-align: center;
}
.buttons{
  /*border: 0.5px solid grey;*/
  /*line-height: 100px;*/
  text-align: center;
}
